body{
    background-color: #607D8B;
    
}

.marginLeft{
    margin-left: 30%;
}

.marginRight{
    margin-right: 30%;
}

.marginTop{
    margin-top: 5%;
}

.btnRight{
    float: right;
}

h5.btnRight{
    display: inline-block;
}

.alert.alert-light.done{
    color: #DA4453;
    text-decoration: line-through;

}


.head{
    text-align: left;
}

.text{
    font-family: 'Josefin Slab', serif;
}

span:hover {
    background-color: #ad5389;
  }

.navbar-custom {
    background: -webkit-linear-gradient(to right, #89216B, #DA4453); 
    background: linear-gradient(to right, #89216B, #DA4453); 
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #DA4453;
}

.navbar-nav .nav-item .nav-link {
    color: #DA4453;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: pink;
}