.todoForm{
    margin-top: 200px;
}

.marginLeft{
    margin-left: 30%;
}

.marginRight{
    margin-right: 30%;
}

.marginTop{
    margin-top: 5%;
}

.btnRight{
    float: right;
}

.alert.alert-danger.done{
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    text-decoration: line-through;
    font-style: italic;
}

.head{
    text-align: left;
}